# Miss Rachels Karaoke
## Organising the binder


### Import Libaries

In [1]:
import pandas as pd

### Import Data

In [3]:
songs_df001 = pd.read_csv('Songs.csv', encoding = 'mbcs')

In [4]:
songs_df001.shape

(58714, 7)

In [5]:
songs_df001.head(20)

    SongID Artist Title DiscID File TrackNo  "Genre"
0    58292    NaN   NaN    NaN  NaN     NaN      NaN
1    58293    NaN   NaN    NaN  NaN     NaN      NaN
2    58294    NaN   NaN    NaN  NaN     NaN      NaN
3    58295    NaN   NaN    NaN  NaN     NaN      NaN
4    58296    NaN   NaN    NaN  NaN     NaN      NaN
5    58297    NaN   NaN    NaN  NaN     NaN      NaN
6    58298    NaN   NaN    NaN  NaN     NaN      NaN
7    58299    NaN   NaN    NaN  NaN     NaN      NaN
8    58300    NaN   NaN    NaN  NaN     NaN      NaN
9    58301    NaN   NaN    NaN  NaN     NaN      NaN
10   58302    NaN   NaN    NaN  NaN     NaN      NaN
11   58303    NaN   NaN    NaN  NaN     NaN      NaN
12   58304    NaN   NaN    NaN  NaN     NaN      NaN
13   58305    NaN   NaN    NaN  NaN     NaN      NaN
14   58306    NaN   NaN    NaN  NaN     NaN      NaN
15   58307    NaN   NaN    NaN  NaN     NaN      NaN
16   58308    NaN   NaN    NaN  NaN     NaN      NaN
17   58309    NaN   NaN    NaN  NaN     NaN      NaN
18   58310    NaN   NaN    NaN  NaN     NaN      NaN
19   58311    NaN   NaN    NaN  NaN     NaN      NaN

### Remove all columns apart from Song and Artist

In [9]:
songs_df002 = songs_df001[['SongID','Artist','Title']]

In [10]:
songs_df002.head(10)

   SongID Artist Title
0   58292    NaN   NaN
1   58293    NaN   NaN
2   58294    NaN   NaN
3   58295    NaN   NaN
4   58296    NaN   NaN
5   58297    NaN   NaN
6   58298    NaN   NaN
7   58299    NaN   NaN
8   58300    NaN   NaN
9   58301    NaN   NaN

### Remove NaN

In [11]:
songs_df003 = songs_df002.dropna(axis = 0)

In [13]:
print(songs_df002.shape)
print(songs_df003.shape)
songs_df003.head(10)

(58714, 3)
(58630, 3)

    SongID Artist                Title
82   19098   ABBA     Bang A Boomerang
83   57483   ABBA     Bang A Boomerang
84   19105   ABBA             Fernando
85   57490   ABBA             Fernando
86   19113   ABBA  I Do I Do I Do I Do
87   57498   ABBA  I Do I Do I Do I Do
88   19127   ABBA             Mama Mia
89   57512   ABBA             Mama Mia
90   19140   ABBA            Ring Ring
91   57525   ABBA            Ring Ring

In [22]:
#songs_df003['Artist'].value_counts()

songs_df004 =songs_df003.drop_duplicates(subset = ['Artist','Title'], keep = 'first')

In [23]:
print(songs_df002.shape)
print(songs_df004.shape)
songs_df004.head(10)

(58714, 3)
(57606, 3)

,SongID,Artist,Title
82,19098,ABBA,Bang A Boomerang
84,19105,ABBA,Fernando
86,19113,ABBA,I Do I Do I Do I Do
88,19127,ABBA,Mama Mia
90,19140,ABBA,Ring Ring
92,19149,ABBA,Take A Chance On Me
94,1,'Big Mama' Thornton - Hound Dog [SC Karaoke],Hound Dog [SC Karaoke]
95,2,'N Sync,God Must Have Spent A Little M
96,4,'Til Tuesday,Voices Carry [MH Karaoke]
97,3,'n Sync,Pop [SC Karaoke]

In [29]:
artist_list001 = songs_df004['Artist'].tolist()

In [35]:
artist_list002 = set(artist_list001)
len(artist_list002)

11288