# Miss Rachels Karaoke


## Organising the binder


### Import Libaries

In [2]:
import pandas as pd
import numpy as np

print("Libraries Imported")

Libraries Imported

### Import Data


Make Python Object

In [45]:
songs_df001 = pd.read_csv('Songs.csv', encoding = 'mbcs')

Look At Data Structure

In [46]:
print(songs_df001.shape)
songs_df001.head(5)

(58714, 7)

   SongID Artist Title DiscID File TrackNo  "Genre"
0   58292    NaN   NaN    NaN  NaN     NaN      NaN
1   58293    NaN   NaN    NaN  NaN     NaN      NaN
2   58294    NaN   NaN    NaN  NaN     NaN      NaN
3   58295    NaN   NaN    NaN  NaN     NaN      NaN
4   58296    NaN   NaN    NaN  NaN     NaN      NaN

Remove all columns apart from Song and Artist

In [47]:
songs_columns = songs_df001

songs_df002 = songs_columns[['SongID','Artist','Title']]
songs_df002.head(5)

   SongID Artist Title
0   58292    NaN   NaN
1   58293    NaN   NaN
2   58294    NaN   NaN
3   58295    NaN   NaN
4   58296    NaN   NaN

### Format Entries To Facilitate Duplicate Removal


#### Information Not Required For Binder

NaN Values

In [50]:
songs_nan = songs_df002

songs_df003 = songs_nan.dropna(axis = 0)

print(songs_df002.shape)
print(songs_df003.shape)

songs_df003.head()

(58714, 3)
(58630, 3)

    SongID Artist                Title
82   19098   ABBA     Bang A Boomerang
83   57483   ABBA     Bang A Boomerang
84   19105   ABBA             Fernando
85   57490   ABBA             Fernando
86   19113   ABBA  I Do I Do I Do I Do

Get rid of ' [ ' values

In [51]:
songs_brackets = songs_df003

for i in range(len(songs_brackets['Title'])):
    title = songs_brackets['Title'].iloc[i]
    if title.find('[') != -1:
        breakpoint = title.find('[')
        keep = title[:breakpoint-1]
        songs_brackets['Title'].iloc[i] = keep

songs_df004 = songs_brackets
songs_df004.head()

C:\DataScience\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    SongID Artist                Title
82   19098   ABBA     Bang A Boomerang
83   57483   ABBA     Bang A Boomerang
84   19105   ABBA             Fernando
85   57490   ABBA             Fernando
86   19113   ABBA  I Do I Do I Do I Do

Get rid of periods in Title

In [52]:
songs_periods = songs_df004

for i in range(len(songs_periods['Title'])):
    title = songs_periods['Title'].iloc[i]
    if title.find('.') != -1:
        keep = title.replace('.','')
        songs_periods['Title'].iloc[i] = keep
        
songs_df005 = songs_periods
songs_df005.head()

C:\DataScience\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

    SongID Artist                Title
82   19098   ABBA     Bang A Boomerang
83   57483   ABBA     Bang A Boomerang
84   19105   ABBA             Fernando
85   57490   ABBA             Fernando
86   19113   ABBA  I Do I Do I Do I Do

Get rid of commas in Title

In [53]:
songs_commas = songs_df005

for i in range(len(songs_commas['Title'])):
    title = songs_commas['Title'].iloc[i]
    if title.find(',') != -1:
        keep = title.replace(',','')
        songs_commas['Title'].iloc[i] = keep
        
songs_df006 = songs_commas
songs_df006.head()

C:\DataScience\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

    SongID Artist                Title
82   19098   ABBA     Bang A Boomerang
83   57483   ABBA     Bang A Boomerang
84   19105   ABBA             Fernando
85   57490   ABBA             Fernando
86   19113   ABBA  I Do I Do I Do I Do

#### Information Required For Binder


Make 'Title' and 'Artist' Values Uppercase

In [14]:
songs_uppercase = songs_df006

songs_uppercase['Artist'] = songs_uppercase['Artist'].str.upper()
songs_uppercase['Title'] = songs_uppercase['Title'].str.upper()
print(songs_uppercase.head(5))

songs_df007 = songs_uppercase

    SongID Artist                Title
82   19098   ABBA     BANG A BOOMERANG
83   57483   ABBA     BANG A BOOMERANG
84   19105   ABBA             FERNANDO
85   57490   ABBA             FERNANDO
86   19113   ABBA  I DO I DO I DO I DO

C:\DataScience\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\DataScience\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

Get rid of ' (' values

In [15]:
songs_curvebrackets = songs_df007

for i in range(len(songs_curvebrackets['Title'])):
    title = songs_curvebrackets['Title'].iloc[i]
    if title.find('(') != -1:
        breakpoint = title.find('(')
        keep = title[:breakpoint-1]
        songs_curvebrackets['Title'].iloc[i] = keep

songs_df008 = songs_curvebrackets

C:\DataScience\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Get rid of '&' values

In [16]:
songs_andsign = songs_df008

for i in range(len(songs_andsign['Artist'])):
    artist = songs_andsign['Artist'].iloc[i]
    if artist.find(' & ') != -1:
        breakpoint = artist.find(' & ')
        keep = artist[:breakpoint]
        songs_andsign['Artist'].iloc[i] = keep
        
songs_df009 = songs_andsign

C:\DataScience\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Get rid of ' FT ' values

In [17]:
songs_FT = songs_df009

for i in range(len(songs_FT['Artist'])):
    artist = songs_FT['Artist'].iloc[i]
    if artist.find(' FT ') != -1:
        breakpoint = artist.find(' FT ')
        keep = artist[:breakpoint]
        songs_FT['Artist'].iloc[i] = keep
        
songs_df010 = songs_FT

C:\DataScience\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Get rid of ' FT. '

In [18]:
songs_FTperiod = songs_df010

for i in range(len(songs_FTperiod['Artist'])):
    artist = songs_FTperiod['Artist'].iloc[i]
    if artist.find(' FT. ') != -1:
        breakpoint = artist.find(' FT. ')
        keep = artist[:breakpoint]
        songs_FTperiod['Artist'].iloc[i] = keep
        
songs_df011 = songs_FTperiod

C:\DataScience\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Get rid of ' FEAT '

In [19]:
songs_FEAT = songs_df011

for i in range(len(songs_FEAT['Artist'])):
    artist = songs_FEAT['Artist'].iloc[i]
    if artist.find(' FEAT ') != -1:
        breakpoint = artist.find(' FEAT ')
        keep = artist[:breakpoint]
        songs_FEAT['Artist'].iloc[i] = keep
        
songs_df012 = songs_FEAT

C:\DataScience\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Get rid of ' FEAT. '

In [20]:
songs_FEATperiod = songs_df012

for i in range(len(songs_FEATperiod['Artist'])):
    artist = songs_FEATperiod['Artist'].iloc[i]
    if artist.find(' FEAT. ') != -1:
        breakpoint = artist.find(' FEAT. ')
        keep = artist[:breakpoint]
        songs_FEATperiod['Artist'].iloc[i] = keep
        
songs_df013 = songs_FEATperiod

C:\DataScience\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Get rid of 'AND'

In [21]:
songs_ANDartist = songs_df013

for i in range(len(songs_ANDartist['Artist'])):
    artist = songs_ANDartist['Artist'].iloc[i]
    if artist.find(' AND ') != -1:
        breakpoint = artist.find(' AND ')
        keep = artist[:breakpoint]
        songs_ANDartist['Artist'].iloc[i] = keep
        
songs_df014 = songs_ANDartist

C:\DataScience\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Change N' to NG

In [22]:
songs_NNG = songs_df014

for i in range(len(songs_NNG['Title'])):
    title = songs_NNG['Title'].iloc[i]
    if title.find('N\' ') != -1:
        keep = title.replace('N\' ','NG ')
        songs_NNG['Title'].iloc[i] = keep
        
songs_df015 = songs_NNG

C:\DataScience\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

Remove ' from title

In [23]:
songs_apostrophe = songs_df015

for i in range(len(songs_apostrophe['Title'])):
    title = songs_apostrophe['Title'].iloc[i]
    if title.find('\'') != -1:
        keep = title.replace('\'','')
        songs_apostrophe['Title'].iloc[i] = keep
        
songs_df016 = songs_apostrophe

C:\DataScience\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

Replace & with AND in the Title

In [24]:
songs_ANDtitle = songs_df016

for i in range(len(songs_ANDtitle['Title'])):
    title = songs_ANDtitle['Title'].iloc[i]
    if title.find('&') != -1:
        keep = title.replace('&','AND')
        songs_ANDtitle['Title'].iloc[i] = keep
        
songs_df017 = songs_ANDtitle

C:\DataScience\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

Remove all spaces in Songs and Titles

In [25]:
songs_spaces = songs_df017

for i in range(len(songs_spaces['Title'])):
    title = songs_spaces['Title'].iloc[i]
    keep = title.replace(' ','')
    songs_spaces['Title'].iloc[i] = keep
        
for i in range(len(songs_spaces['Artist'])):
    artist = songs_spaces['Artist'].iloc[i]
    keep = artist.replace(' ','')
    songs_spaces['Artist'].iloc[i] = keep
    
songs_df019 = songs_spaces

C:\DataScience\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\DataScience\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

### Drop Duplicates

In [34]:
songs_df020 = songs_df019.drop_duplicates(subset = ['Artist','Title'], keep = 'first')

print(songs_df002.shape)
print(songs_df020.shape)

(58714, 3)
(34770, 3)

### Sort & Create Index


Sort By Artist

In [73]:
songs_df021 = songs_df020.sort_values(['Artist','Title'])

songs_df021.insert(0, 'Artist_Sorted', range(0, 0 + len(songs_df021)))
songs_df021

,Artist_Sorted,SongID,Artist,Title
94,0,1,'BIGMAMA'THORNTON-HOUNDDOG[SCKARAOKE],HOUNDDOG
95,1,2,'NSYNC,GODMUSTHAVESPENTALITTLEM
97,2,3,'NSYNC,POP
96,3,4,'TILTUESDAY,VOICESCARRY
122,4,18888,"10,000MANIACS",BECAUSETHENIGHT
124,5,96,"10,000MANIACS",CANDYEVERYBODYWANTS
117,6,93,"10,000MANIACS",LIKETHEWEATHER
118,7,94,"10,000MANIACS",MORETHANTHIS
119,8,18887,"10,000MANIACS",THESEARETHEDAYS
102,9,18879,10CC,DONNA
98,10,18880,10CC,DREADLOCKHOLIDAY
104,11,18881,10CC,IMNOTINLOVE
106,12,90,10CC,RUBBERBULLETS
100,13,18883,10CC,THINGSWEDOFORLOVE
109,14,18884,10CC,WALLSTREETSHUFFLE
111,15,91,10YEARS,BEAUTIFUL
112,16,18885,10YEARS,THROUGHTHEIRIS
114,17,18886,10YEARS,WASTELAND
134,18,18902,112,CUPID
137,19,18903,112,ITSOVERNOW
141,20,18904,112,PEACHESANDCREAM
145,21,18905,112,UALREADYKNOW
148,22,369,12GAUGE,DUNKIEBUTT
151,23,370,12STONES,FARAWAY
152,24,18907,12STONES,WEAREONE
154,25,1117,1755,LEMONDEABIENCHANGER
157,26,18909,1910FRUITGUMCO,SIMONSAYS
159,27,1327,1910FRUITGUMCOMPANY,SIMONSAYS
164,28,1342,1927,THATSWHENITHINKOFYOU
165,29,1401,1975,ANTICHRIST
...,...,...,...,...
58400,34740,57236,ZUTONS,VALERIE
58401,34741,57237,ZWAN,HONESTLY
58402,34742,57238,ZWAN,LYRIC
58324,34743,57239,ZZTOP,ALLYOURLOVIN
58325,34744,57240,ZZTOP,BEERDRINKERSANDHELLRAISERS
58326,34745,57241,ZZTOP,BLUEJEANBLUES
58327,34746,57242,ZZTOP,CHEAPSUNGLASSES
58328,34747,57243,ZZTOP,DOUBLEBACK
58403,34748,25474,ZZTOP,GIMMEALLYOURLOVIN
58329,34749,57244,ZZTOP,GIMMEALLYOURLOVING
58331,34750,57246,ZZTOP,IMBADIMNATIONWIDE
58330,34751,57245,ZZTOP,ITHANKYOU
58332,34752,57247,ZZTOP,JESUSJUSTLEFTCHICAGO
58333,34753,57248,ZZTOP,JUSTGOTPAID
58334,34754,57249,ZZTOP,LAGRANGE
58335,34755,57250,ZZTOP,LEGS
58336,34756,57251,ZZTOP,PEARLNECKLACE
58337,34757,57252,ZZTOP,PINCUSHION
58338,34758,57253,ZZTOP,ROUGHBOYS
58339,34759,57254,ZZTOP,SHARPDRESSEDMAN
58341,34760,57255,ZZTOP,TUSH
58340,34761,57256,ZZTOP,TVDINNER
58342,34762,57257,ZZTOP,VELCROFLY
58343,34763,57258,ZZTOP,VIVALASVEGAS
58344,34764,57259,ZZTOP,WAITINGFORTHEBUS
58345,34765,57260,ZZTOP,WHATSUPWITHTHAT
58404,34766,57261,ZZWARD,365DAYS
58710,34767,25503,ÁLVARODÁVILA,LACULPABLE
58712,34768,57262,ÉRICLAPOINTE,1500MILES
58713,34769,57263,ÉTIENNE,ONTVAGAGNER

Sort By Song Title

In [82]:
songs_df022 = songs_df021.sort_values(['Title'])

songs_df022.insert(0, 'Title_Sorted', range(0, 0 + len(songs_df022)))
songs_df022.head()

,Title_Sorted,Artist_Sorted,SongID,Artist,Title
42753,0,23967,41681,NELLY,#1
39444,1,21802,38208,MARIAHCAREY,#BEAUTIFUL
13626,2,6267,4062,CHAINSMOKERS,#SELFIE
57893,3,34301,56754,WILLIAMFT..JUSTINBIEBER,#THATPOWER
57957,4,34280,56806,WILL.I.AM,#THATPOWER

### Undo Changes to Required Info

In [87]:
# Dataframe prior to changing required song details
songs_neededdetails = songs_df006

# Dataframe with filtered songs
songs_duplicatesremoved = songs_df020

# Filter dataframe with required details
songs_output = songs_neededdetails[songs_neededdetails['SongID'].isin(songs_duplicatesremoved['SongID'])]
print(songs_output.shape)
songs_output.head()

# Note you may need to rerun songsdf001 - df006 because uppercase change may be global

(34770, 3)

    SongID Artist                Title
82   19098   ABBA     Bang A Boomerang
84   19105   ABBA             Fernando
86   19113   ABBA  I Do I Do I Do I Do
88   19127   ABBA             Mama Mia
90   19140   ABBA            Ring Ring

### Add Colums for Sorting

In [90]:
songs_sortindexes = songs_df022[['Title_Sorted','Artist_Sorted','SongID']]
songs_sortindexes = songs_sortindexes[['SongID', 'Artist_Sorted', 'Title_Sorted']]
print(songs_sortindexes.head())

songs_output_sorted = songs_output.merge(songs_sortindexes, on = 'SongID', how = 'left')
print(songs_output_sorted.shape)
print(songs_output_sorted.head())

       SongID  Artist_Sorted  Title_Sorted
42753   41681          23967             0
39444   38208          21802             1
13626    4062           6267             2
57893   56754          34301             3
57957   56806          34280             4
(34770, 5)
   SongID Artist                Title  Artist_Sorted  Title_Sorted
0   19098   ABBA     Bang A Boomerang            305          2528
1   19105   ABBA             Fernando            311          8943
2   19113   ABBA  I Do I Do I Do I Do            320         12978
3   19127   ABBA             Mama Mia            333         19211
4   19140   ABBA            Ring Ring            345         24405

### Output the file

In [91]:
songs_output_sorted.to_csv('Songs_output.csv')